*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

/* Having position:relative on *,*:before,*:after breaks monaco tooltip positioning. we need to reset it */
.overflowingContentWidgets {
  position: initial;
}
